# Created by .ignore support plugin (hsz.mobi)
var
vendor
.idea
.env

# will be symlinked by Contao.
system/themes/flexible
public/assets
public/system/themes
system/logs

# generated
public/bundles/*
public/files/
assets/
system/

# configuration and secrets
config/parameters.yml
